.about-section {
  color: #000;
}

.video-container {
  font-size: var(--fs-7);
  text-align: center;
  margin: var(--sp-6) auto;
}

#my-video {
  width: 100%;
  max-width: 70%;
  border: 2px solid #333;
  border-radius: 8px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
}

/*   history */

.history-container {
  margin: var(--sp-7);
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  margin: 0 var(--sp-6);
}

.year {
  font-size: var(--fs-5);
  font-weight: 500;
  margin-bottom: var(--sp-3);
}

.title {
  font-size: var(--fs-11);
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: var(--sp-6);
}

.subtitle {
  font-size: var(--fs-6);
  line-height: 1.4;
  margin-bottom: var(--sp-6);
}

.description {
  font-size: var(--fs-5);
  line-height: 1.6;
  margin-bottom: var(--sp-6);
}

.img img {
  max-width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

/* future*/

.future-container {
  display: flex;
  background-color: #f2f6f0;
  justify-content: center;
  align-items: center;
  margin: 0 var(--sp-7);
  margin-bottom: var(--sp-3);
}
