.login-text-box {
  width: 100%;
  padding: var(--sp-10);
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--sp-6);
  font-size: var(--fs-3);
}

.options a {
  text-decoration: none;
  color: #e57373;
}

.options span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.signup {
  text-align: center;
  margin-top: var(--sp-6);
  font-size: var(--fs-4);
}

.signup a {
  text-decoration: none;
  color: #e57373;
  font-weight: 700;
}

.login-img-box img {
  width: 100%;
  display: block;
  padding: var(--sp-8);
  transform: scale(1.7);
}

.login-img-box {
  align-self: center;
}
