/* ******************************** */
/* NAV SECTION */
/* ******************************** */

header {
  height: 9.6rem;
  /* padding: 0 4.8rem; */
  position: relative;
}

#main-nav-headler {
  position: static;
  background: transparent;
}

.nav-bar-icon {
  font-size: 2.4rem;
}
.electric-bike {
  padding: var(--sp-7) var(--sp-11) var(--sp-11) var(--sp-11);
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.electric-bike:first-child {
  row-gap: 5.8rem;
}

.main-nav-container {
  width: 100%;
  position: fixed;
  top: 0;
  padding: var(--sp-7) var(--sp-7);
  background-color: #111;
  align-items: center;
  font-size: 1.6rem;
  grid-template-columns: 1fr 3fr 1fr;
  z-index: 100;
}

.nav-logo {
  justify-self: center;
}

.nav-link {
  align-self: center;
  justify-self: center;
}

.nav-icon {
  height: 2.2rem;
  /* width: 2.2rem; */
  transform: scale(1.2);
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.nav-icon-item {
  cursor: pointer;
}

.logo {
  height: 2.2rem;
  /* width: 2.2rem; */
  transform: scale(2.5);
}

.list-links {
  list-style: none;
  display: flex;
  gap: var(--sp-7);
}

.nav-icon a:link,
.nav-icon a:visited,
.nav-link a:link,
.nav-link a:visited {
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;
}

.nav-icon a:hover,
.nav-icon a:active,
.nav-link a:hover,
.nav-link a:active {
  color: #aaa;
}

.electric-bike-text-box {
  grid-column: 1/-1;
}

.electric-bike-header {
  font-size: 3.2rem;
  line-height: 1.6;
  margin-bottom: 0.6rem;
  color: #222;
}

.electric-bike-description {
  font-size: 2.4rem;
  color: #555;
}

/* ******************************** */

/* HERO SECTION */

/* ******************************** */

.main-header {
  height: 100vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.5),
      rgba(34, 34, 34, 0.5)
    ),
    url('../img/bikeBG.jpg');
}

/* .nav-container {
  max-width: 120rem;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
} */

.hero-container {
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.hero-container-inner {
  width: 40%;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 48px;
}

.black-bike {
  position: relative;
}

.black-bike-box-1 {
  height: 100vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.09),
      rgba(34, 34, 34, 0.09)
    ),
    url('../img/Bikes/TRBO\ 2880x1620.jpg');
}

.black-bike-container-inner {
  /* width: 120rem; */
  width: 40%;
}

.black-bike-container-1 {
  width: 120rem;
  position: absolute;
  left: 30%;
  transform: translate(-30%, -50%);
}

.black-bike-container-buy {
  top: 45%;
}

.black-bike-container-about {
  /* width: 80%; */
  top: 87%;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 6.4rem;
}

.about-black-bike {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
}

.black-bike-box-2 {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.09),
      rgba(34, 34, 34, 0.09)
    ),
    url('../img/Bikes/bike\ 07.jpg');
}

.black-bike-box-3 {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.09),
      rgba(34, 34, 34, 0.09)
    ),
    url('../img/Bikes/bike\ 08.jpg');
}

.black-bike-box-4 {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.09),
      rgba(34, 34, 34, 0.09)
    ),
    url('../img/Bikes/bike\ 09.jpg');
}

.black-bike-box-5 {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.09),
      rgba(34, 34, 34, 0.09)
    ),
    url('../img/Bikes/bike\ 10.jpg');
}

.black-bike-box-6 {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.09),
      rgba(34, 34, 34, 0.09)
    ),
    url('../img/Bikes/bike\ 11.jpg');
}

.black-bike-box-7 {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.09),
      rgba(34, 34, 34, 0.09)
    ),
    url('../img/Bikes/bike\ 12.jpg');
}

/**************************/

.mountain-container,
.accesories-container {
  margin: var(--sp-12);
}

.title {
  display: flex;
  justify-content: space-between;
  color: #000;
}

#product_id,
.product_id {
  font-size: 1.6rem;
  /* color: #444; */
  display: none;
}

.text-title h1 {
  font-size: var(--fs-10);
  font-weight: 700;
  margin-bottom: var(--sp-6);
  letter-spacing: 2px;
  color: #444;
}

.text-title p {
  font-size: var(--fs-6);
  color: #777;
  font-weight: 500;
  margin-bottom: var(--sp-8);
}

.container-card {
  display: flex;
  gap: var(--sp-7);
}

/* .Id-bike {
  display: none;
} */

/*******************************/
/* testimonial */
/*******************************/
.testimonial-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 6.4rem;
}

.testimonial-container {
  margin: 0 var(--sp-12) var(--sp-12);
}

.testimonial-title {
  margin-left: var(--sp-12);
  margin-bottom: var(--sp-8);
}

.testimonial-header {
  font-size: var(--fs-10);
  color: #444;
  margin-bottom: 1.8rem;
}

.testimonial-subtitle {
  font-size: 2.4rem;
  color: #777;
}

.testimonial-person {
  border: 1px solid #777;
  padding: 3.2rem;
  color: #555;
  font-size: 1.6rem;
  border-radius: 4px;
}

.testimonial-icon-container {
  display: flex;
  align-items: center;
  gap: 2px;
}

.testimonial-icon {
  width: 2.6rem;
  height: 2.6rem;
  /* border-bottom: none; */
  fill: #fcc419;
}

.testimonial-text {
  font-size: 1.5rem;
  line-height: 1.6;
}

.testimonial-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.testimonial-list-item:last-child {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.testimoni-name {
  color: #222;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 4px;
}

.testimonial-image img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  color: #ddd;
  background: #222;
  padding: 12.8rem 0;
  /* border-top: 1px solid #eee; */
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #aaa;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #bbb;
  transition: all 0.4s;
}

.footer-link:hover,
.footer-link:active {
  color: #777;
}

/*  */

.secondary-header-image {
  height: 100vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.7),
      rgba(34, 34, 34, 0.7)
    ),
    url('../img/bike-hero.jpg');
}

/* ******************************* */
/* ADMIN PANEL */
/* ******************************* */

.admin-panel {
  background-color: #fff;
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  transform: translateX(100%);
  box-shadow: 0 -1.2rem 4.8rem rgba(0, 0, 0, 0.05);
  transition: transform 0.5s ease;
}

.show-admin-panel {
  transform: translateX(0);
}

.admin-panel ul {
  margin-top: 2px;
  list-style: none;
}

.admin-panel ul li {
  border-bottom: 2px solid rgba(100, 100, 100, 0.1);
  padding: 20px;
}

.admin-panel ul li:first-of-type {
  border-top: 2px solid rgba(100, 100, 100, 0.1);
}

.admin-panel ul li {
  font-size: 1.8rem;
  color: #333;
  transition: background-color 0.5s ease;
}

.admin-panel ul li a {
  font-size: 1.8rem;
  color: #333;
  text-decoration: none;
  /* transition: background-color 0.5s ease; */
}

.admin-panel ul li:hover {
  font-weight: 700;
  background-color: #eee;
  color: #555;
  cursor: pointer;
}

.admin-list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.admin-list-icon {
  color: #555;
  font-size: 2rem;
}

/* ********************************** */
/* Feedback */
/* ********************************** */

/* .feedback {
  position: fixed;
  bottom: 10%;
  right: 0;
  transform: translateX(33%);
}

.feedback-btn {
  border: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  cursor: pointer;
  transform: rotate(90deg);
} */

/* ************************** */
/* ALERT */
/* ************************** */

#alert-overlay {
  color: #333;
  font-size: 3.2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#alert-box {
  background: white;
  padding: 38px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80rem;
  position: relative;
}

#alert-message {
  margin-bottom: 3.2rem;
  font-size: 3.2rem;
}

#alert-close {
  font-size: 2.4rem;
  background-color: #007bff;
  color: white;
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#alert-close:hover {
  background-color: #0056b3;
  transition: background-color 0.5s ease;
}

/* ************************ */
/* Dialog */
/* ************************ */

.dialog-actions button {
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.dialog h3 {
  font-size: 3.2rem;
  margin-bottom: 16px;
  color: #444;
}

.dialog p {
  font-size: 2.4rem;
  color: #666;
}

.dialog-content {
  width: 70rem;
  padding: 3.2rem 4.8rem;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.09);
}

.dialog-actions {
  margin-top: 2.4rem;
  display: flex;
  gap: 42px;
  justify-content: center;
}

.dialog-actions button {
  font-size: 2.4rem;
  border-radius: 8px;
  color: #fff;
  background-color: #007bff;
}
.dialog-actions button:hover {
  background-color: #0056b3;
  transition: background-color 0.5s ease;
}
/* ******************** */
/* Custom CSS for SweetAlert2 */
/* ******************** */

.swal2-popup {
  font-size: 1.5rem;
  width: 60rem;
}

.swal2-title {
  font-size: 2rem;
}

.swal2-content {
  font-size: 1.6rem;
}

.swal2-confirm {
  font-size: 1.5rem;
  padding: 1rem 3rem;
}
