.resend {
  color: #000;
  text-align: center;
  margin: var(--sp-6) 0;
  font-size: var(--fs-4);
}

.resend a:link,
.resend a:visited {
  text-decoration: none;
  color: #777;
  font-weight: 700;
}

.resend a:hover,
.resend a:active {
  color: #999;
}
